extends layout

block content
  .base-page.bg-light
    .container
      .row
        .col-lg-10.offset-lg-1
          h3.mb-3 #{title}
          .bg-white.shadow.rounded
            .row
              .col-md-7.pe-0
                .form-left.h-100.py-5.px-5
                  form.row.g-4(action, method="post", role="form")
                    .col-12
                      label
                        | Username
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        input.form-control(type='text' name="username" value=username placeholder=`${username}`)
                    .col-12
                      label
                        | Email
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        input.form-control(type='text' name="email" value=email placeholder=`${email}`)
                    .col-12
                      label
                        | New Password
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-lock-fill
                        input.form-control(type='text' name="password" placeholder='Enter New Password')
                    .col-12
                      label
                        | Confirm New Password
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        input.form-control(type='text' name="cpassword" placeholder='Confirm New Password')
                    .col-12
                      label
                        | Update Categories
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        select#relatedIssues.form-select(name="relatedIssues", multiple, aria-label="multiple select issues")
                          //option(selected) Select Issues
                          option(value="Diabetes") Diabetes
                          option(value="Anemia") Anemia
                          option(value="Obesidad") Obesidad
                          option(value="Posparto") Posparto
                          option(value="Issue 1") Issue 1
                          option(value="Issue 2") Issue 2
                          option(value="Issue 3") Issue 3
                    .col-6
                      .input-group
                        input.form-control(type='text' name="id" value=id placeholder=`${id}`)
                    .col-6
                      .input-group
                        input.form-control(type='text' name="superuser" value=superuser placeholder=`${superuser}`)
                    .col-12
                      button.btn.btn-primary.px-4.float-end.mt-2(type='submit' name="action" value="update") Update
                    .col-12
                      button.btn.btn-secondary.px-4.float-end.mt-2(type='submit' name="action" value="signout") Sign Out
                    .col-12
                      div
                    .col-12
                      div
                    .col-12
                      div
                    .col-12
                      button.btn.btn-danger.px-4.float-end.mt-2(type='submit' name="action" value="delete") Delete Account
              .col-md-5.ps-0.d-none.d-md-block
                .form-right.h-100.bg-primary.text-white.text-center.pt-5
                  i.bi.bi-bootstrap
                  h2.fs-1 #{message}
                  hr
                  hr
                  hr
                  hr
                  hr
                  hr
                  - let pos=0
                  h3 Related Problems
                  hr
                  each issue in relatedIssues
                    - pos++
                    p
                      b Issue 
                        b #{pos}:
                      |  #{issue}
                    p
                    hr
                  hr
                  hr
                  hr
                  hr

          p.text-end.text-secondary.mt-3 A Henry and Ignacio Project
