extends layout

block content
  .base-page.bg-light
    .container
      .row
        .col-lg-10.offset-lg-1
          .bg-white.shadow.rounded
            .row
              .col-md-7.pe-0
                .form-left.h-100.py-5.px-5
                  form.row.g-4(action, method="post", role="form")
                    .col-12
                      label
                        | Title
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        input.form-control(type='text' name="title" value=recipe.title placeholder='Enter Title' readonly='')
                    .col-12
                      label
                        | Author
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        input.form-control(type='text' name="author" value=recipe.author placeholder='Enter Author' readonly='')
                    .col-12
                      label
                        | Related Issues
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        select#relatedIssues.form-select(name="relatedIssues", multiple, aria-label="multiple select issues" readonly='' disabled)
                          //option(selected) Select Issues
                          option(value="Diabetes") Diabetes
                          option(value="Anemia") Anemia
                          option(value="Obesidad") Obesidad
                          option(value="Posparto") Posparto
                          option(value="Issue 1") Issue 1
                          option(value="Issue 2") Issue 2
                          option(value="Issue 3") Issue 3
                    .col-12
                      label
                        | Description
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-lock-fill
                        input.form-control(type='text' name="description" value=recipe.description placeholder='Description' readonly='' disabled)
                    .col-12
                      label
                        | Ingredients
                        span.text-danger *
                      .input-group
                        .input-group-text
                          i.bi.bi-person-fill
                        select#ingredients.form-select(name="ingredients", value=recipe.ingredients multiple, aria-label="multiple select issues" readonly='' disabled)
                          //option(selected) Select Issues
                          option(value="proteina_animal") Proteina Animal
                          option(value="proteina_vegetal") Proteina Vegetal
                          option(value="carbohidratos") Carbohidratos
                          option(value="verduras") Verduras
                          option(value="frutas") Frutas
                    .col-12
                      button.btn.btn-danger.px-4.float-end.mt-4(type='submit') Delete
              .col-md-5.ps-0.d-none.d-md-block
                .form-right.h-100.bg-primary.text-white.text-center.pt-5
                  i.bi.bi-bootstrap
                  h2.fs-1 #{message}
          p.text-end.text-secondary.mt-3 A Henry and Ignacio Project
