extends layout

block content

    .base_page
      .cardbig
        .pad_mod
          .card
            //h2= title
            h3 #{recipe.title}
            p Autor: #{recipe.author}
            img(src=`/images/${recipe.img}` class="imgr" alt=`alt:${recipe.img}`)
            
            hr
            b Problemas Relacionados:
            each issue in recipe.relatedIssues
                p
                | &dot;  #{issue}
                p
            hr
            b Ingredientes:
            each item in recipe.ingredients
                p
                | &dot;  #{item}
                p
            hr
            b Instrucciones:
            p #{recipe.description}
            hr
            - var over_score=0
            each comment in recipe.comments
              - over_score = over_score + comment.score
            - over_score = over_score/recipe.comments.length
            hr
            b Puntaje:
            p #{over_score.toFixed(2)}/5
            hr

            .card
              .card-body
                form.row.g-3(action, method="post", role="form")
                  .col-md-6
                      input.form-control#comments(type="hidden", name="comments", value=recipe.comments)
                  .col-md-6
                      input.form-control#recipeReference(type="hidden", name="recipeReference", value=recipe._id)
                  .col-md-9
                    label.form-label(for="content") Que piensas de la receta
                    input.form-control#content(type="text", name="content", placeholder="Input Comment")
                  .col-md-2
                    label.form-label(for="score") Como estuvo?
                    div.emoji-selector
                      input(type="radio", id="score-5", name="score", value="5")
                      label(for="score-5") 😍
                      input(type="radio", id="score-4", name="score", value="4")
                      label(for="score-4") 😊
                      input(type="radio", id="score-3", name="score", value="3")
                      label(for="score-3") 😐
                      input(type="radio", id="score-2", name="score", value="2")
                      label(for="score-2") 😕
                      input(type="radio", id="score-1", name="score", value="1")
                      label(for="score-1") 😞
                  .col-md-1
                    .vertical-center
                    button.btn.btn-outline-primary(type="submit") Post New...

    
        .card
          h3.text-left Sección de Comentarios
          table.table.table-hover.table-light.table-responsive.bg-secondary.table-striped
            caption
            thead.fixed
              tr
                th.text-center(scope="col") #
                th.text-center(scope="col") Reseña
                th.text-center(scope="col") Autor
                th.text-center(scope="col") Puntaje
                th.text-center(scope='col') Eliminar
              tbody
                - var pos=1
                each comment in recipe.comments
                  tr
                    td.text-center.numComment=pos++
                    td.text-center #{comment.content}
                    td.text-center #{comment.author}
                    td.text-center #{comment.score}
                    td.text-center
                      form.row.g-3(action, method="post", role="form")
                        input.form-control#content(type="hidden", name="recipeReference", value=recipe._id)
                        a.btn.btn-danger.space(role='button' href='/recipes/comments/delete/'+recipe._id+'/'+ comment._id) Borrar Comentario
                        em.fas.fa-edit
        if superuser
        .base_page
          .pad_mod
            .col-md-12
              label.form-label()
              a.btn.btn-danger.px-4.float-start.mt-4.mb-4(role='button' href='/recipes/delete/'+recipe._id) Eliminar Receta
              label.form-label()
              a.btn.btn-primary.px-4.float-end.mt-4.mb-4(role='button' href='/recipes/update/'+recipe._id) Actualizar Receta
              label.form-label()
          

    