extends layout

block content
    .base_page.bg-light
        .pad_mod
            //h2= title
            h3 #{recipe.title}
            p Author: #{recipe.author}
            img(src=`/images/${recipe.img}` class="imgr" alt=`alt:${recipe.img}`)
            
            hr
            b Related Issues:
            each issue in recipe.relatedIssues
                p
                | &dot;  #{issue}
                p
            hr
            b Ingredients:
            each item in recipe.ingredients
                p
                | &dot;  #{item}
                p
            hr
            b Instructions:
            p #{recipe.description}
            hr
            - var over_score=0
            each comment in recipe.comments
              - over_score = over_score + comment.score
            - over_score = over_score/recipe.comments.length
            hr
            b Overall Score:
            p #{over_score}
            hr

    .base_page.bg-light
      .pad_mod
        .row.g-3.bg-light
          .col-md-14
            .card
              .card-body
                form.row.g-3(action, method="post", role="form")
                  .col-md-6
                      input.form-control#comments(type="hidden", name="comments", value=recipe.comments)
                  .col-md-6
                      input.form-control#recipeReference(type="hidden", name="recipeReference", value=recipe._id)
                  .col-md-1
                    label.form-label(for="author") AuthorName
                    input.form-control#author(type="text", name="author", placeholder="UserName")
                  .col-md-8
                    label.form-label(for="content") Describe your comment
                    input.form-control#content(type="text", name="content", placeholder="Input Comment")
                  .col-md-2
                    label.form-label(for="score") Select from 0 to 5 points ->
                    input.form-control#score(type="range",min="0", max="5", name="score")
                  .col-md-1
                    .vertical-center
                      button.btn.btn-outline-primary(type="submit") Post New...

    
    .base_page.bg-light
      .pad_mod
        h3.text-left Comments Section
        table.table.table-hover.table-light.table-responsive.bg-secondary.table-striped
          caption
          thead.thead-light.fixed
            tr
              th.text-center(scope="col") #
              th.text-center(scope="col") Content
              th.text-center(scope="col") Author
              th.text-center(scope="col") Score
              th.text-center(scope='col') Delete
            tbody
              - var pos=1
              each comment in recipe.comments
                tr
                  td.text-center.numComment=pos++
                  td.text-center #{comment.content}
                  td.text-center #{comment.author}
                  td.text-center #{comment.score}
                  td.text-center
                    form.row.g-3(action, method="post", role="form")
                      input.form-control#content(type="hidden", name="recipeReference", value=recipe._id)
                      a.btn.btn-danger.space.text-warning(role='button' href='/recipes/comments/delete/'+recipe._id+'/'+ comment._id)
                      em.fas.fa-edit
    .base_page.bg-light
      .pad_mod
        .col-md-6
          label.form-label() Update Recipe ->
          a.btn.btn-primary.space.text-warning(role='button' text="Update" href='/recipes/update/'+recipe._id)
        .col-md-6
          label.form-label() Delete Recipe ->
          a.btn.btn-danger.space.text-warning(role='button' text="Update" href='/recipes/delete/'+recipe._id)

    