extends layout

block content
  // Inicia el contenido de la página
  header
      // Fixed navbar

  main.flex-shrink-0
    .container
      h1.mt-5 Mi primer Proyecto MERN v1
      hr(style="background-color: black;")
      h1.text-center Listado de usuarios

      h1= title
      p Bienbenido a #{title}
      hr
      h4 Listado de usuarios 
      hr
      - let pos=0
      each user in usersObject
        - pos++
        p 
          b No.: 
          | #{pos}
        p 
          b Nombre : 
          | #{user.username}
        p 
          b Apellido :
          | #{user.email}
        p 
          b Dirección: 
          | #{user.superuser}  
        hr
      //- p 
      //-   b Nombre: 
      //-   | #{nombre}
      //- p 
      //-   b Apellido: 
      //-   | #{apellido}
      //- p 
      //-   b Direccion: 
      //-   | #{direccion}
      //- p 
      //-   b Carrera: 
      //-   | #{carrera}

  // Inicia el contenido del footer
  footer.footer.mt-auto.py-3.bg-light.fixed-bottom
    .container
      span.text-muted Welcome to #{title}